.bg-color-lightgray {
    background-color: rgb(181, 182, 182);
}

.bg-color-blue {
    background-color: rgba(50, 50, 248, .75);
}

.bg-color-footer {
    background-color: rgba(17, 17, 17, 0.5);
}

.link-font {
    color:rgb(99, 96, 96)
}

@media screen and (max-width: 768){
    .input {
        margin-bottom: 3;
    }
}